@media (min-width: 576px) and (max-width: 991px){
    
    
       
    
    body{
        background-color: rgb(59, 4, 4);
        
    }
    /*navbar*/

    .navbar{
        background-color: rgb(0, 0, 0);
    }


    .container-fluid .logo img{
        width: 13vw;
        height: 10vh;
    }

    .container-fluid button{
        color: transparent;
        background-color: white;
    }
    .navbar-nav .nav-linka{
        text-decoration: none;
        color: red;
        font-size: 1.5em;
        margin-right: 2%;
        
    }
    .navbar-nav .nav-linkb{
        text-decoration: none;
        color: rgb(60, 196, 249);
        font-size: 1.5em;
        margin-right: 2%;
    }
    .navbar-nav .nav-linkc{
        text-decoration: none;
        color: rgb(215, 232, 101);
        font-size: 1.5em;
        margin-right: 2%;
    }
    .navbar-nav .nav-linkd{
        text-decoration: none;
        color: rgb(0, 255, 34);
        font-size: 1.5em;
        margin-right: 2%;
    }
    .navbar-nav .nav-linke{
        text-decoration: none;
        color: rgb(234, 0, 255);
        font-size: 1.5em;
        margin-right: 2%;
    }
    /*.navbar-nav .nav-link{
        color: rgb(252, 0, 0);

    }
    .navbar-nav .nav-link:hover{
        color: rgb(255, 255, 255);
    }*/

    /*Section*/
    section{
        width: 100%;
    }

    /*-----carousel-----*/

    .carousel-inner{
        width: 100%;
        
    }
    .carousel-item img{
        width: 100%;
        
    }


    .informacion{
        width: 100%;
    }
    .informacion h1{
        font-family: 'roboto', sans-serif;
        font-size: 2em;
        text-align: center;
        text-decoration:underline 3px ;
        color: rgb(255, 0, 0);
    
    }
    .informacion p{
        font-family:sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin: 1%;
        color: lightcoral
    }


    /*<------Cards----->*/

    .contenedorcards h1{
        font-family: 'roboto', Times, serif;
        font-size: 2em;
        text-align: center;
        text-decoration:underline 1px ;
        color: rgb(255, 0, 0);
    }


    .card{
        box-sizing: border-box;
        margin: 2%;
        border: 3px solid rgba(137, 205, 232);
        background-color: rgb(140, 30, 140);
        color: rgb(255, 255, 255);
    }



    /*<----Aside----->*/

    aside{
     width: 100%;
        
    }
    
    aside h1{
        font-family: 'Roboto', Times, serif;
        font-size: 2em;
        text-align: center;
        text-decoration:underline 1px ;
        color: red;
    }
    
    /*GALERIA*/
    .gallery{
        width: 100%;
        height: 90%;
        margin-left: 8%;
        display:grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(5, 150px);
    }
    .gallery .img-card{
       
     margin: 0px 0px 0px 30px;
      
    }
    .gallery .img-card img{
        box-sizing: border-box;
        width: 35vw;
        height: 25vh;
        transition: 0.5s;
        cursor: pointer;
        border: white solid 3px;
        border-radius: 10px;
    }
    .gallery .img-card img:hover{
       
        transform: scale(1) rotate(0deg);
        border: white solid 3px;
        border-radius: 0px;
        transition: 0;
    }
    /** MODAL **/
    
    .modal{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        padding-top: 30px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
    }
    /*.modal .list{
        width: 95%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 100px);
    }
    .modal .list img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }*/
    .modal #mymodal{
        width: 80vw;
        display: block;
        margin: auto;
        height: 90vh;
    }
    .modal .caption-text{
        width: 80%;
        display: block;
        margin: auto;
        max-width: 700px;
        text-align: center;
        color: white;
        padding: 10px 0px;
    }
    .close{
        position: absolute;
        top:15px;
        right: 35px;
        color: white;
        font-weight: bold;
        transition: 0.3s;
        font-size: 40px;
        cursor: pointer;
    }

/*<-----Footer---->*/
    footer{
        width: 100%;
    }
    footer h1{
        font-family: 'roboto', Times, serif;
        font-size: 2.5em;
        text-align: center;
        text-decoration:underline 4px;
        color: red;
    }

    video{
        background-color: black;
        width: 100vw;
        height: 60vh;
    }
    .mapa{
        width: 100vw;
        height: 60vh;
    }
    .direccion{
        width: 98%;
        display: flex;
        justify-content: center;   
        align-items: center;
        flex-direction: column;
        /*border: black solid 3px;
        background-color: rgb(160, 160, 194);*/
        
    }
    .direccion p{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1rem;
    }

    
    .socialmedia{
        display: flex;
        justify-content: center;
        
    }
    
    .socialmedia img{
        margin: 5px;
        width: 10vw;
        height: 10vh;
        background-color: white;
        border-radius: 50%;
        border: black solid 2px;
    }
    .container-boton{
        background-color: #00ff00;
        
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 2%;
        right: 4vh;
        padding: 15px;
        transition: ease 0.3s;
        animation: none
    }
    
    .container-boton:hover{
        transform: none;
        transition: none;
    }
    
    .boton{
        width: 8vw;
        transition: ease 1s;
    }








}